<html>
    <head>

    </head>

    <body>
        <div> Idly </div>
        <div>
            <div> Ingredients </div>
            <div>
                <ul>
                    <li>600 gm basmati rice</li>
                    <li>4 tablespoon mint leaves</li>
                    <li>Salt as required</li>
                    <li>2 teaspoon coriander powder</li>
                    <li>1 tablespoon garlic paste</li>
                    <li>2 tablespoon tomato puree</li>
                    <li>400 gm white onion</li>
                    <li>8 green cardamom</li>
                    <li>1 tablespoon milk</li>
                    <li>1 kilograms chicken thighs</li>
                    <li>1 teaspoon garam masala powder</li>
                    <li>2 pinches saffron</li>
                    <li>1 tablespoon ginger paste</li>
                    <li>4 green chilli</li>
                    <li>300 gm tomato</li>
                    <li>2 teaspoon cumin seeds</li>
                    <li>6 tablespoon refined oil</li>
                    <li>1/2 teaspoon chilli powder</li>
                    <li> 6 tablespoon plain greek yogurt</li>
                    <li>1 teaspoon powdered turmeric</li>
                </ul>
            </div>
        </div>
        <div>
            <div> Preparation Method </div>
            <div>
                <ol>
                    <li> For marinating chicken, take a large bowl and add Greek yoghurt in it along with turmeric, chili powder along with salt as per your taste in a small bowl. Mix well using a spoon and then, add the chicken thighs in the mixture and rub with this mixture. Keep aside for about 20-30 minutes, so that the yogurt mixture is properly absorbed by the chicken. Also, soak saffron in the milk to make saffron milk and keep aside.</li>

                    <li> In the meanwhile, pour refined oil in a deep-bottomed pan, keeping it on medium flame. Add cumin seeds and green cardamom in it and saute for about 2 minutes. Once done, immediately add the sliced onion and fry for 2-3 minutes straight. Make sure you don't burn it, so when the onion starts to get brown in color, add tomatoes and tomato puree and fry for another 5 minutes.</li>
                            
                    <li> Next, add the slit green chilies to the mixture along with ginger-garlic paste, frying the mixture yet again for a minute. Then, add coriander powder and turn the flame to medium-low while stirring and cooking the masala. Quickly, add the marinated chicken and mix for a while so that the ingredients absorb the juices properly.</li>
                            
                    <li> Turn the flame to medium again and heat-through for about 5-6 minutes only to turn it over to low heat. Cover with a lid and let simmer for 5 minutes. Make sure to keep stirring during the entire process, else the chicken might stick to the bottom, eventually ending up burnt. You can add little water, if you find the consistency too thick.</li>
                            
                    <li> Once done, turn off the flame and add half of the boiled rice in the pan and keep the rest aside until required. Sprinkle milk soaked saffron along with garam masala, mint and coriander leaves. Put the remaining rice over this layer and garnish with the same mentioned four ingredients.</li>
                            
                    <li> Lastly, cover the lid, turn the flame to low medium and let the rice cook for about 5 minutes. Once done, put it off and let the biryani stay covered for about another 10 minutes. Serve hot, along with raita or any chutney of your choice.
                        
                </ol>
            </div>
        </div>

        <div>
            <div> Available at places near you</div>
            <div>
                    Anjappar Chettinad Restaurant
                    3.5/5
            </div>
            <div>
                    Ambur Star Biriyani 
                    3.9/5
            </div> 
            <div>
                    Naattarasan
                    3.9/5
            </div>
        </div>

        <iframe src="https://www.google.com/maps/d/embed?mid=1KlWCf9KM45cRz6M8H9wjd8BA2Na6eORc" width="640" height="480"></iframe></html>
