<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Biriyani</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
</head>

<body id="page-top">

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({{url_for('static',filename='img/biriyani.jpg')}})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I Am Biriyani</h1>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-5">
                <div class="skill-mf">
                  <p class="title-s">Nutrition</p>
                  <span>Carbs</span> <span class="pull-right">56%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 56%;" aria-valuenow="56" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Protein</span> <span class="pull-right">18%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 18%" aria-valuenow="18" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Fat</span> <span class="pull-right">26%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 26%" aria-valuenow="26" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Cholestrol</span> <span class="pull-right">9%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    <em>I am</em> a mixed rice dish with origins among the Muslims of the Indian subcontinent. 
                  </p>
                  <p class="lead">
                    I am popular throughout the subcontinent as well as among the diaspora from the region.
                  </p>
                  <p class="lead">
                    There are many types of biriyani, whose names are often based on their region of origin like Hyderabadi Biriyani and Sindhi Biriyani.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              What makes me Cool
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Basmati Rice</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Chicken thighs</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Tomatoes</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Onions</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Garlic and Ginger paste</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Water</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Oil</h2>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Garam and Turmeric powder</h2>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Other spices</h2>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <!--/ Section Services End /-->
  <section id="service" class="services-mf route">
      <div class="container">

          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                How am i made
              </h3>
             
              <div class="line-mf"></div> 
            </div>

            <ul>
              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>For marinating chicken, take a large bowl and add yoghurt in it along with turmeric, chili powder along with salt as per your taste in a small bowl. Mix well using a spoon and then, add the chicken thighs in the mixture and rub with this mixture. Keep aside for about 20-30 minutes, so that the yogurt mixture is properly absorbed by the chicken. Also, soak saffron in the milk to make saffron milk and keep aside.
                    </li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>In the meanwhile, pour refined oil in a deep-bottomed pan, keeping it on medium flame. Add cumin seeds and green cardamom in it and saute for about 2 minutes. Once done, immediately add the sliced onion and fry for 2-3 minutes straight. Make sure you don't burn it, so when the onion starts to get brown in color, add tomatoes and tomato puree and fry for another 5 minutes.</li>                
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Next, add the slit green chilies to the mixture along with ginger-garlic paste, frying the mixture yet again for a minute. Then, add coriander powder and turn the flame to medium-low while stirring and cooking the masala. Quickly, add the marinated chicken and mix for a while so that the ingredients absorb the juices properly.
                    </li>
                    </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Turn the flame to medium again and heat-through for about 5-6 minutes only to turn it over to low heat. Cover with a lid and let simmer for 5 minutes. Make sure to keep stirring during the entire process, else the chicken might stick to the bottom, eventually ending up burnt. You can add little water, if you find the consistency too thick.</li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Once done, turn off the flame and add half of the boiled rice in the pan and keep the rest aside until required. Sprinkle milk soaked saffron along with garam masala, mint and coriander leaves. Put the remaining rice over this layer and garnish with the same mentioned four ingredients.</li>
                 </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Lastly, cover the lid, turn the flame to low medium and let the rice cook for about 5 minutes. Once done, put it off and let the biryani stay covered for about another 10 minutes. Serve hot, along with raita or any chutney of your choice.</li>
                  </div>
              </div> 
            </ul>
          </div>
        
        </div>
  </section>

  <div class="section-counter paralax-mf bg-image">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Where i can be found near you
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/d/embed?mid=1KlWCf9KM45cRz6M8H9wjd8BA2Na6eORc" width="1000" height="420"></iframe>
        </div>
          
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.counterup.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/lightbox/js/lightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/typed/typed.min.js')}}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{url_for('static',filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>
