<!DOCTYPE HTML>
<html>
	<head>
		<title>Whole Wheat and Oat Cutout Easter Cookies - Let's Bite!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='../static/blog/assets/css/main.css')}}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo" style="font-size: 40px"><h1>Let's Bite!</h1></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1" style="color:black;font-size: 18px">

						<div class="image fit flush">
							<img src="{{url_for('static',filename='../static/blog/images/pic02.jpg')}}" style='height:250 px;', alt="" />
						</div>
						<header class="special">
							<h2>WHOLE WHEAT AND OAT CUTOUT EASTER COOKIES</h2>
						</header>
						<div class="content">
							<p>Cookies are really not my thing. I do however, enjoy making decorated cookies. I would probably eat a couple if they’re not very sweet or chocolate or lemon/ lime flavoured. I decided to make these Whole Wheat and Oat Cutout Easter Cookies because they’re mostly whole grain. </p>
							<p>These are made with whole wheat flour, a bit of all-purpose flour and coarsely ground rolled oats. This gives the cookies a very nice texture and nuttiness. I also added allspice to the cookie dough because I like spiced cookies. I think here it does cut into the sweetness of the icing.</p>
							<p>The whole grain in it does not make it healthier or anything. It couldn’t with the butter and sugar in the dough. It does however make for very interesting sugar cookies that are different from the usual. I have, personally discovered my favourite sugar cookie recipe.</p>
							<p>These cookies are not very soft but they’re not crisp either. The dough does not need refrigerating before you can roll it out. To my mind, that’s a plus because you can make these cookies in shorter stages. I like slightly thicker cookies so I roll them out to 1/4” thickness but you can roll them out a little thinner. Just remember you’ll need to bake them for a little less time. The cookies do not spread in the oven though, while baking. They need only about 8 to 10 minutes to bake. So I made the dough on one day, baked them the following day and decorated them after 2 days.</p>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>My captures</h2>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush">
										<a href="{{url_for('static',filename='../static/blog/images/pic03.jpg')}}"><img src="{{url_for('static',filename='../static/blog/images/pic03.jpg')}}" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="{{url_for('static',filename='../static/blog/images/pic01.jpg')}}"><img src="{{url_for('static',filename='../static/blog/images/pic01.jpg')}}" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="{{url_for('static',filename='../static/blog/images/pic04.jpg')}}"><img src="{{url_for('static',filename='../static/blog/images/pic04.jpg')}}" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="{{url_for('static',filename='../static/blog/images/pic05.jpg')}}"><img src="{{url_for('static',filename='../static/blog/images/pic05.jpg')}}" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					Copyrights &copy; Let's Bite! and SeeFood 
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='/blog/assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='/blog/assets/js/jquery.poptrox.min.js')}}"></script>
			<script src="{{url_for('static',filename='/blog/assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='/blog/assets/js/util.js')}}"></script>
			<script src="{{url_for('static',filename='/blog/assets/js/main.js')}}"></script>

	</body>
</html>