<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dosa</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">

  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <div id="home" class="intro route bg-image" style="background-image: url({{ url_for('static', filename='img/dosa.jpeg') }})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I Am Dosa</h1>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-5">
                <div class="skill-mf">
                  <p class="title-s">Nutrition</p>
                  <span>Carbs</span> <span class="pull-right">71%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 71%;" aria-valuenow="81" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Fat</span> <span class="pull-right">20%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="12" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Protein</span> <span class="pull-right">9%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 9%" aria-valuenow="7" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Cholestrol</span> <span class="pull-right">0%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    <em>I am</em> a type of cooked flat thin layered rice batter, originating from the Indian subcontinent, made from a fermented batter.
                  </p>
                  <p class="lead">
                        It is somewhat similar to a crepe in appearance
                  </p>
                  <p class="lead">
                    I am often served along with my friends <em>Sambar, a stuffing of potatoes, Chutney and Idli podi as well</em>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              What makes me Cool
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Idly Rice</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title"><a href="https://en.wikipedia.org/wiki/Vigna_mungo">Skinned Urad Daal</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title"><a href="https://en.wikipedia.org/wiki/Fenugreek">Fenugreek Seeds</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title"><a href="https://en.wikipedia.org/wiki/Sesame_oil">Sesame oil</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Salt</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Water</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services End /-->
  <section id="service" class="services-mf route">
      <div class="container">

          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                How am i made
              </h3>
             
              <div class="line-mf"></div> 
            </div>

            <ul>
              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li> Soak the rice and dal separately for 3 hours </li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li> Grind dal first into a smooth consistency adding enough water</li>                
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Grind rice into a smooth batter by adding just enough water to get it going.</li>
                    </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Now, the idli batter needs to be well-fermented. This step is very important to get soft and fluffy idlis. Keep the batter in a warm place to ferment. Once the batter has risen, add salt to it and whisk to mix it well.</li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li> Combine the two, add salt, and let it ferment in a large enough bowl lightly covered, for about 6-8 hours in a warm place</li>
                 </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Add enough water to the fermented batter until you have a smooth, pouring consistency. Make sure the batter is not too watery though, it should be thick-ish but fall off your spoon easily.
                        </li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                    <div style="text-align: justify">
                      <li> Heat a tawa or iron griddle and grease with the oil lightly. Pour about ½ cup batter to the centre of the tawa.
                          </li>
                    </div>
                </div> <br/>

                <div class="row" style="font-size: 18px"> 
                        <div style="text-align: justify">
                          <li> Using the back of your ladle, gently spread the batter with a circular motion from the centre towards the sides of the tawa.
                              </li>
                        </div>
                    </div> <br/>
                
                <div class="row" style="font-size: 18px"> 
                        <div style="text-align: justify">
                            <li> Add enough water to the fermented batter until you have a smooth, pouring consistency. Make sure the batter is not too watery though, it should be thick-ish but fall off your spoon easily.
                                </li>
                        </div>
                </div> <br/>

                <div class="row" style="font-size: 18px"> 
                        <div style="text-align: justify">
                            <li>Drizzle about 1 tsp of oil around the edges of the dosa and add a few sprinkles on the top as well.
                                </li>
                        </div>
                    </div> <br/>

                <div class="row" style="font-size: 18px"> 
                        <div style="text-align: justify">
                            <li>If your tawa is greased adequately and is not sticky, the edge of the dosa will start to come off the pan in about 1 minute or so. Use a spatula to gently lift the dosa and flip it over. Cook the other side for another 40 seconds or so and remove from pan. 
                                </li>
                        </div>
                    </div><br/>

                <div class="row" style="font-size: 18px"> 
                        <div style="text-align: justify">
                            <li>Serve with dosa podi, chutney or sambar.  
                                </li>
                        </div>
                    </div>  <br/>
            </ul>
          </div>
        
        </div>
  </section>

  <div class="section-counter paralax-mf bg-image">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Where i can be found near you
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/d/embed?mid=19fMto1V5-JPNNy0TCdM7uGwrur5ivsQN" width="1000" height="420"></iframe>
        </div>
          
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.counterup.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/lightbox/js/lightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/typed/typed.min.js')}}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{url_for('static',filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>
