<html>
    <head>

    </head>

    <body>
        <div> <h2 style="text-align: center"> Dosa </h2></div>
        <div>
            <div><h3> Ingredients </h3></div>
            <div>
                <ul>
                    <li>2 1/2 cup Idli rice</li>
                    <li>1/2 tablespoon Fenugreek seeds</li>
                    <li>5 tablespoon Sesame oil</li>
                    <li>1 1/2 cup Urad dal</li>
                    <li>1 1/2 teaspoon Salt </li>
                    <li>Water as required </li>
                </ul>
            </div>
        </div>
        <div>
            <div> <h3>Preparation Method</h3> </div>
            <div>
                <ol>
                    <li> Soak the rice and dal separately for 3 hours</li>
                    <li> Grind dal first into a smooth consistency adding enough water</li>
                    <li> Grind rice into a smooth batter by adding just enough water to get it going</li>
                    <li> Combine the two, add salt, and let it ferment in a large enough bowl lightly covered, for about 6-8 hours in a warm place</li>
                    <li> Add enough water to the fermented batter until you have a smooth, pouring consistency. Make sure the batter is not too watery though, it should be thick-ish but fall off your spoon easily.</li>
                    <li> Heat a tawa or iron griddle and grease with the oil lightly. Pour about ½ cup batter to the centre of the tawa.</li>
                    <li> Using the back of your ladle, gently spread the batter with a circular motion from the centre towards the sides of the tawa.</li>
                    <li> Drizzle about 1 tsp of oil around the edges of the dosa and add a few sprinkles on the top as well.</li>
                    <li> If your tawa is greased adequately and is not sticky, the edge of the dosa will start to come off the pan in about 1 minute or so. Use a spatula to gently lift the dosa and flip it over. Cook the other side for another 40 seconds or so and remove from pan.</li> 
                    <li> Serve with dosa podi, chutney or sambar. 
                </ol>
            </div>
        </div>

        <div>
            <div><h3> Available at places near you</h3></div>
            <div>
                Adyar Ananda Bhavan A2B Veg Restaurant 
                4.0/5
            </div> <br/>
            <div>
                Shri Balaajee Bhavan
                4.2/5
            </div> <br/>
            <div>
                Sathyam Vegetarian Restaurant
                4.1/5
            </div> <br/>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=19fMto1V5-JPNNy0TCdM7uGwrur5ivsQN" width="640" height="480"></iframe>
    </body>
</html>
