<html>
    <head>

    </head>

    <body>
        <div> <h2 style="text-align: center"> Idly </h2> </div>
        <div>
            <div> <h3> Ingredients </h3> </div>
            <div>
            <ul>
                <li>2 1/2 cup Idli rice</li>
                <li>1/2 tablespoon Fenugreek seeds</li>
                <li>5 tablespoon Sesame oil</li>
                <li>1 1/2 cup Urad dal</li>
                <li>1 1/2 teaspoon Salt </li>
                <li>Water as required </li>
            </ul>
            </div>
        </div>
        <div>
            <div> <h3>Preparation Method </h3></div>
            <div>
                <ol>
                    <li> Wash rice and urad dal separately until the water runs clean and add fenugreek seeds to the rice. Soak it in water for 4-6 hours. Soak the urad dal too for the same amount of time. Drain all the water from the urad dal and grind it to a fine paste. Add water accordingly.</li>
                    <li> Grind the rice to a coarse paste (add water as needed) and then mix both the pastes together in a large bowl and whisk them well. Make sure that the consistency is thick.</li>                  
                    <li> Now, the idli batter needs to be well-fermented. This step is very important to get soft and fluffy idlis. Keep the batter in a warm place to ferment. Once the batter has risen, add salt to it and whisk to mix it well.</li>                    
                    <li> Grease the idli stand with oil and take a ladleful of batter and fill the idli mould. Add ½ cup of water in the idli steamer and let it boil. Put the idli stand inside and close the lid. Let the steam build for 8-10 minutes before switching off the gas.</li>
                    <li> If you are using a cooker, use it without a vent and steam it for 10 minutes and then switch the gas off. In both cases, wait till the steam is released before you take the idli stand out. Wait for another 5 minutes and then use a sharp knife to scoop the idlis out. Serve warm with sambar and chutney.</li>
                </ol>
            </div>
        </div>

        <div>
            <div> <h3>Available at places near you </h3></div>
            <div>
                <ul>
                    <li>Adyar Ananda Bhavan A2B Veg Restaurant 
                    4.0/5</li>
                <br/>
            <div>
                <li>Shri Balaajee Bhavan
                4.2/5</li>
            </div> <br/>
            <div>
                <li>Hot Chips Veg. Restaurant
                3.9/5</li>
            </div> </ul> <br/> <br/>
        </div>
        
        <iframe src="https://www.google.com/maps/d/embed?mid=19fMto1V5-JPNNy0TCdM7uGwrur5ivsQN" width="640" height="480"></iframe>
    </body>
</html>
