<html>
    <head>

    </head>

    <body>
        <div> <h2>Butter Naan</h2> </div>
        <div>
            <div> <h3>Ingredients</h3> </div>
            <div>
                <ul>
                    <li> 2 cups maida
                    <li> 1 tsp sugar
                    <li> 1 tsp baking powder
                    <li> 1/4 tsp baking soda
                    <li> Salt to taste
                    <li> 1/4 cup curd / yogurt, fresh thick
                    <li> 2 tsp oil
                    <li> Lukewater as required, to knead
                    <li> 2 tbsp butter
                    <li> 1 tbsp coriander leaves, finely chopped
                </ul>
            </div>
        </div>
        <div>
            <div> <h3>Preparation Method </h3></div>
            <div>
                <ol>
                        <li> Firstly, knead the dough for 10 minutes with ingredients listed for dough. </li>
                        <li> Cover with a moist cloth and rest for 2 hours in warm place.</li>
                        <li> After 2 hours, knead the dough slightly. to remove if any air present in the dough.</li>
                        <li> Pinch a ball sized dough. Gently roll to oval shape using rolling pin. Make sure you do not make too thin nor thick and also keep the size in mind. It should not be larger than your tawa size.</li>
                        <li> Grease with water over naan.</li>
                        <li> Furthermore, slowly flip over and put it on hot tawa and slightly press.</li>
                        <li> Now after a minute, flip the tawa upside down and cook naan directly on flame till they turn golden brown.</li>
                        <li> Also brush with some butter mixed with coriander leaves.</li>
                        <li> Gently scrape the naan from bottom and remove.</li>
                        <li> Finally, serve butter naan hot with your favourite curry like mattar paneer.</li>
                </ol>
            </div>
        </div>

        <div>
            <div><h3> Available at places near you </h3></div>
            <div>
                <div>Adyar Ananda Bhavan A2B Veg Restaurant</div> 
                <div> Rated : 4.0/5</div>
            </div> <br/>
            <div>
                <div>Tongue</div>
                <div>Rated : 4.0/5</div>
            </div> <br/>
            <div>
                <div>Nawabs Dine</div>
                <div>Rated : 4.1/5</div>
            </div> <br/></br/>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1D6k8d883rTWpqPnNW4SXBE_4vvACeIpu" width="640" height="480"></iframe>    </body>
</html>
