<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Naan</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({{url_for('static',filename='img/naan.jpg')}})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">I Am Naan</h1>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-5">
                <div class="skill-mf">
                  <p class="title-s">Nutrition</p>
                  <span>Carbs</span> <span class="pull-right">55%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Protein</span> <span class="pull-right">11%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 11%" aria-valuenow="11" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Fat</span> <span class="pull-right">34%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Cholestrol</span> <span class="pull-right">4%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    <em>I am</em> a leavened, oven-baked flatbread found in the cuisines of Southeast Asia, the Indian subcontinent and the Caribbean.
                  </p>
                  <p class="lead">
                    I am cooked in a tandoor, from which tandoori cooking gets its name. I am different from my friend <em>roti</em>, which is usually cooked on a flat iron griddle called a tava.
                  </p>
                  <p class="lead">
                    I am served hot and brushed with some ghee or butter brushed, along with my friends <em>Dal Makhani</em> and <em>Paneer Butter Masala.</em>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              What makes me Cool
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title"><a href="https://en.wikipedia.org/wiki/Maida_flour">Maida</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Butter</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title"><a href="https://en.wikipedia.org/wiki/Coriander">Coriander leaves</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Fresh thick Curd</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Oil / Ghee</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Water</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services End /-->
  <section id="service" class="services-mf route">
      <div class="container">

          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                How am i made
              </h3>
             
              <div class="line-mf"></div> 
            </div>

            <ul>
              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Firstly, knead the dough for 10 minutes with ingredients for dough. Cover with a moist cloth and rest for 2 hours in warm place.</li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>After 2 hours, knead the dough slightly to remove if any air present in the dough.</li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Pinch a ball sized dough. Gently roll to oval shape using rolling pin. Make sure you do not make too thin nor thick and also keep the size in mind. It should not be larger than your tawa size.</li>
                    </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Grease with water over naan. Furthermore, slowly flip over and put it on hot tawa and slightly press.</li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Now after a minute, flip the tawa upside down and cook naan directly on flame till they turn golden brown.</li>
                 </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Also brush with some butter mixed with coriander leaves.</li>
                  </div>
              </div> <br>

              <div class="row" style="font-size: 18px"> 
                <div style="text-align: justify">
                  <li>Gently scrape the naan from bottom and remove. Finally, serve butter naan hot with your favourite curry like Paneer Butter masala.</li>
                </div>
            </div> 

            </ul>
          </div>
        
        </div>
  </section>

  <div class="section-counter paralax-mf bg-image">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Where i can be found near you
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <iframe src="https://www.google.com/maps/d/embed?mid=1D6k8d883rTWpqPnNW4SXBE_4vvACeIpu" width="1000" height="420"></iframe>
        </div>
          
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.counterup.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/lightbox/js/lightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/typed/typed.min.js')}}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{url_for('static',filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>
