<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vada</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({{url_for('static',filename='img/vada.jpg')}})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I Am Medu Vada</h1>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-5">
                <div class="skill-mf">
                  <p class="title-s">Nutrition</p>
                  <span>Carbs</span> <span class="pull-right">18%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="18" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Protein</span> <span class="pull-right">4%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Fat</span> <span class="pull-right">78%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Cholestrol</span> <span class="pull-right">0%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    <em>I am</em> a type of savoury fried snacks from the South of India. 
                  </p>
                  <p class="lead">
                    I am what they call as Doughnuts in the West.
                  </p>
                  <p class="lead">
                    I am often served along with my friends <em>Sambar</em> ,<em> Curd</em> and <em>Chutney.</em>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              What makes me Cool
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Cumin Seeds</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Urad Daal</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Green Chillies</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Oil</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Salt</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Curry Leaves</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Ginger</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services End /-->
  <section id="service" class="services-mf route">
      <div class="container">

          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                How am i made
              </h3>
             
              <div class="line-mf"></div> 
            </div>

            <ul>
              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Wash and soak dal in about 3 cups of water for about 2-3 hours</li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Drain all the water from soaked dal. grind urad dal and channa dal together to smooth paste using very little water</li>                
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>The batter should be thick and use very little water. the right consistency is very important or otherwise, you will not be able to get the vada shape.</li>
                    </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Add coriander, green chilli, ginger and chopped dry coconut to the batter. mix it very well.</li>
                  </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Add 2-3 tsp of rice flour. rice flour is added to make it crispy.</li>
                 </div>
              </div> <br/>

              <div class="row" style="font-size: 18px"> 
                  <div style="text-align: justify">
                    <li>Add pinch of hing to make it more digestible.Heat the oil in a frying pan in medium flame</li>
                  </div>
              </div> <br>

              <div class="row" style="font-size: 18px"> 
                <div style="text-align: justify">
                  <li>Make hole in the center and slide it into the hot oil.The vada should float on top of oil.</li>
               </div>
            </div> <br/>

            <div class="row" style="font-size: 18px"> 
              <div style="text-align: justify">
                <li>Make sure your oil is not too hot. otherwise the vadas would not cook evenly.Fry on both sides till it becomes golden brown in colour.</li>
             </div>
          </div> <br/>

          <div class="row" style="font-size: 18px"> 
            <div style="text-align: justify">
              <li>Serve Immediately with Sambar and Chutney</li>
           </div>
        </div>           
            </ul>
          </div>
        
        </div>
  </section>

  <div class="section-counter paralax-mf bg-image">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Where i can be found near you
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/d/embed?mid=19fMto1V5-JPNNy0TCdM7uGwrur5ivsQN" width="1000" height="420"></iframe>
        </div>
          
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/jquery.counterup.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/lightbox/js/lightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/typed/typed.min.js')}}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{url_for('static',filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>
